.header {
  padding-top: 12px;
  background: #fff;
}
.content {
  margin: 24px 16px;
  padding: 20px;
}
.triger-btn {
  height: 50px;
  width: 20px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
}
.sider {
  height: 100vh;
  position: sticky !important;
  top: 0;
  left: 0;
  bottom: 0;
}
.logo {
  color: #4f6f52;
  margin: 40px 0;
  font-size: 1.5rem;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
}
.ant-menu-item-selected {
  background: #4f6f52 !important;
  color: #fff !important;
}
.header-icon {
  background: #d2d2d2;
  border-radius: 4px;
  cursor: pointer;
  color: #4f6f52 !important;
  padding: 8px;
  font-size: 15px;
}
.ant-btn:hover {
  border-color: #4f6f52 !important;
  color: #4f6f52 !important;
}
.ant-btn-primary {
  background-color: #4f6f52;
}
.ant-btn-primary:hover {
  background-color: #173a13 !important;
  color: #fff !important;
}
.primary--color {
  color: #4f6f52 !important;
}
.primary--light--color {
  color: #739072 !important;
}
.secondary--color {
  color: #86a789 !important;
}
.light--color {
  color: #d2d2d2 !important;
}
.gray--color {
  color: rgb(182, 181, 181) !important;
}
.plant-card {
  flex: 1;
  height: 250px;
  text-align: center;
}
.top-seller,
.featured-seller {
  flex: 1;
}
.divider {
  border: 2px solid green;
}
.card {
  background-image: linear-gradient(to bottom, #4c7f79, #87e87d);
}
